<section class="figma-grid">
  <h2>Tisso vision in the wild</h2>

  <div class="figma-grid-wrap">

  {% for product in collections.all.products limit:6 %}

    <div class="figma-item">

      <img src="{{ product.featured_image | image_url: width:600 }}">

      <button class="hotspot"
        data-handle="{{ product.handle }}">
        +
      </button>

    </div>

  {% endfor %}

  </div>
</section>

{% schema %}
{
 "name":"Figma Grid",
 "presets":[{"name":"Figma Grid"}]
}
{% endschema %}
